*
{
    
    background-color: #1C1C1C;  /* color de la barra lateral*/
    background-color: #F5F4EF;  /*color de fondo de la caja*/
    border-bottom: 1px solid #ccc;  /*color de la barra divisioria de items*/

}