/* ********************************** CONFIG ******************************************* */
/*
*
{
    outline: 1px solid red;     
}*/



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    
}

body              /*ocupa el alto total de la pantalla*/
{
    min-height: 100vh;  
    display: flex;
    flex-direction: column;    
    background-color: #1F2633;
}

body, button, input
{
    color: #3B3A4E;     /* Color de texto base */
}

h1, h2
{
    color: #2E2E2E;     /* Color de Títulos, para más peso visual */
    font-size: 2.0rem;
}

/* El canal del scroll */
::-webkit-scrollbar {
  width: 6px;
}

/* El fondo del canal */
::-webkit-scrollbar-track {
  background: transparent;
}

/* El botón que se arrastra */
::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.4);
  border-radius: 4px;
}

/* ********************************** MAIN ******************************************* */


main
{
    flex: 1;    /* el <main> se adapta automáticamente para rellenar lo que queda entre el header y el footer */    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar
{
    position: sticky;
    flex-shrink: 0; /* evita que se reduzca */
    width: 60px;
    height: 100vh;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sidebar button
{
    background: none;
    border: none;
    color: #F5F4EF;
    cursor: pointer;
}

#toolbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#tool-container
{
    display: flex;
    flex-direction: column;
    background-color: #F5F4EF;
    width: 35%;
    height: 65%;
    max-width: 800px; 
    max-height: 90vh;
    border-radius: 3%;
    transition: all 0.3s ease;
    padding: 1.5%;
}


/* ********************************** TOOL-TODO ******************************************* */

#tool-todo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
    height: 100%;
    gap: 40px;
}

#input-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}   

#input-todo
{
    width: 65%;
    height: 30px;
}

#task-list
{
    flex-grow: 1;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;    /* para separar el scroll de la lista */
}

#list
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;    
}

.task-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.item
{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 10px;
    line-height: 1.5; /* ajusta según el tamaño del texto */
    border-bottom: 1px solid #ccc;
    padding: 1.5% 0%;
    width: 100%;
}


/*revisar esto*/
.checkbox-toggle
{
    color: #555;
    transition: color 0.2s ease;
}

.checkbox-toggle.checked i {
  color: #4CAF50; /* verde para tareas completadas */
}

.checkbox-toggle.unchecked i {
  color: #ccc; /* gris para tareas pendientes */
}



/* ********************************** BUTTONS ******************************************* */

.menu
{
    position: absolute;
    background: #3B3A4E;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 8px;
    z-index: 10;
    display: flex;
    gap: 10px;
    
}

.menu-wrapper
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu button
{
    color: #F5F4EF;
}

.menu.vertical
{
    flex-direction: column;
    top: calc(100% + 2px); /* lo ubica debajo del botón */
    width: 160px;
    left: 0; /* alineado al borde izquierdo del botón */
    
}

.menu.horizontal
{
    flex-direction: row;
    width: auto;
    top: 35%;
    right: calc(100% + 2px); /* lo ubica a la izquierda del botón */
    transform: translateY(-50%);
}

.hidden
{
    display: none;
}

.btn-action
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    gap: 6px;
    background-color: transparent;
    transition: transform 0.2s ease;

}

.btn-action:hover
{
    transform: scale(1.05);
}

.checkbox-toggle
{
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.checkbox-toggle.checked i
{
  color: #4CAF50; /* verde para tareas completadas */
}

.checkbox-toggle.unchecked i
{
  color: #b1b0b0; /* gris para tareas pendientes */
}



/* ********************************** ICONS ******************************************* */

.icon-small
{
    font-size: 16px !important;
    width: 18px;
    height: 18px;
    line-height: 16px;
}

.icon-medium
{
    font-size: 22px !important;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.icon-large
{
    font-size: 30px !important;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

/* ********************************** MEDIA QUERIES (Desktop first) ******************************************* */


@media (max-width: 768px)
{
    .sidebar { display: none; }
    .bottom-nav { display: flex; }
}

@media (min-width: 769px)
{
    .sidebar { display: flex; }
    .bottom-nav { display: none; }
}