/* ********************************** CONFIG ******************************************* */
/*
*
{
    outline: 1px solid red;     /*Mousekeherramienta misteriosa
}*/


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body              /*ocupa el alto total de la pantalla*/
{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #783F8E;
}

main
{
    flex: 1;    /* el <main> se adapta automáticamente para rellenar lo que queda entre el header y el footer */    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ********************************** MAIN ******************************************* */

#box
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FCFCFC;
    width: 30%;
    height: 60%;
    border-radius: 2%;
    padding: 1% 0%;

    gap: 20px;

}

#task-input-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5px;
}   

#inputToDo
{
    width: 62%;
}


/* ********************************** FOOTER ******************************************* */

#footer
{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    align-items: center;    
    min-height: 55px;

    background-color:  #1C7293;
    color: #E8EEF2;
    font-family: sans-serif;
    font-size: 1.0rem;
}

a, #links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#links img
{
    width: 36px;
    height: 36px;
}


/* ********************************** MEDIA QUERIES ******************************************* */

@media (max-width: 768px)
{    
    #box
    {
        width: 60%;
        height: 70%;
    }
}

@media (max-width: 480px)
{
    #box
    {
        width: 85%;
        height: 80%;
    }
}