/* ********************************** CONFIG ******************************************* */
/*
*
{
    outline: 1px solid red;     
}*/

:root
{
    --color-bg-body: #1F2633;
    --color-bg-sidebar: #1C1C1C;   
    --color-bg-menu: #3B3A4E;
    --color-ui-primary: #F5F4EF;
    --color-text-body: #3B3A4E;
    --color-text-title: #2E2E2E;
    --color-state-completed: #4CAF50;
    --color-muted: #b1b0b0;
    --color-shadow: rgba(0,0,0,0.1);
}

.light-mode
{
    background-color: none; /*borrar esto despues*/
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body              /*ocupa el alto total de la pantalla*/
{
    min-height: 100vh;  
    display: flex;
    flex-direction: column;    
    background-color: var(--color-bg-body);
}

body, button, input
{
    color: var(--color-text-body);
}

h1, h2
{
    color: var(--color-text-title);
    font-size: 2.0rem;
}

ul
{
    list-style: none;
}

main
{
    flex: 1;    /* el <main> se adapta automáticamente para rellenar lo que queda entre el header y el footer */    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* ********************************** SCROLLBAR ******************************************* */

/* El canal del scroll */
::-webkit-scrollbar
{
    width: 6px;
}

/* El fondo del canal */
::-webkit-scrollbar-track
{
    background: transparent;
}

/* El botón que se arrastra */
::-webkit-scrollbar-thumb
{
    background-color: rgba(60, 60, 60, 0.4);
    border-radius: 4px;
}


/* ********************************** ASIDE ******************************************* */

#sidebar
{
    position: sticky;
    flex-shrink: 0; /* evita que se reduzca */
    width: 180px;
    height: 100vh;
    background-color: var(--color-bg-sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    box-shadow: 1px 0px 10px var(--color-shadow);
    transition: width 0.5 ease;
}

#sidebar-collapse-btn
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    top: 3.5%;
    right: -0.87rem;
    border-radius: 50%;
    background-color: var(--color-bg-sidebar);
    box-shadow: 2px 2px 5px var(--color-shadow);
    transition: right 0.3s ease;
}

#sidebar-collapse-btn i
{
    color: var(--color-muted);
}

#sidebar ul
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
}

#brand
{
    width: 90%;
    overflow: hidden;
}

#brand button
{
    font-weight: 700;
    font-size: 1.2rem;
}

#brand img
{
    width: 50px;
    height: 50px;
}





/* ********************************** TOOLBOX ******************************************* */

#toolbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#tool-container
{
    display: flex;
    flex-direction: column;
    background-color: var(--color-ui-primary);
    width: 35%;
    height: 65%;
    max-width: 800px; 
    max-height: 90vh;
    border-radius: 3%;
    transition: all 0.3s ease;
    padding: 1.5%;
}


/* ********************************** TOOL-TODO ******************************************* */

#tool-todo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
    height: 100%;
    gap: 40px;
}

#input-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}   

#input-todo
{
    width: 65%;
    height: 30px;
}

#task-list
{
    flex-grow: 1;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;    /* para separar el scroll de la lista */
}

#list
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.item
{
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 10px;
    line-height: 1.5; /* ajusta según el tamaño del texto */
    border-bottom: 1px solid var(--color-muted);
    padding: 1.5% 0%;
    width: 100%;
}

.checkbox-toggle
{
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.checkbox-toggle.checked i
{
    color: var(--color-state-completed);
}

.checkbox-toggle.unchecked i
{
    color: var(--color-muted);
}


/* ********************************** BUTTONS ******************************************* */

.btn-sidebar
{
    background: none;
    border: none;
    color: var(--color-ui-primary);
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 3%;

    
}

.btn-sidebar:hover
{
    background-color: var(--color-text-title);
}

.menu
{
    position: absolute;
    background: #3B3A4E;
    box-shadow: 0 4px 8px var(--color-shadow);
    border-radius: 8px;
    padding: 8px;
    z-index: 10;
    display: flex;
    gap: 10px;
    
}

.menu-wrapper
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu button
{
    color: var(--color-ui-primary);
}

.menu.vertical
{
    flex-direction: column;
    top: calc(100% + 2px); /* lo ubica debajo del botón */
    width: 160px;
    left: 0; /* alineado al borde izquierdo del botón */
    
}

.menu.horizontal
{
    flex-direction: row;
    width: auto;
    top: 35%;
    right: calc(100% + 2px); /* lo ubica a la izquierda del botón */
    transform: translateY(-50%);
}

.hidden
{
    display: none;
}

.btn-action
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    gap: 6px;
    background-color: transparent;
    transition: transform 0.2s ease;
}

.btn-action:hover
{
    transform: scale(1.05);
}





/* ********************************** ICONS ******************************************* */

.icon-small
{
    font-size: 16px !important;
    width: 18px;
    height: 18px;
    line-height: 16px;
}

.icon-medium
{
    font-size: 22px !important;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.icon-large
{
    font-size: 30px !important;
    width: 36px;
    height: 36px;
    line-height: 36px;
}


/* ********************************** MEDIA QUERIES (Desktop first) ******************************************* */


@media (max-width: 768px)
{

}

@media (min-width: 769px)
{
}