/* ********************************** CONFIG ******************************************* */

/*
*
{
    outline: 1px solid red;     
}*/



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body              /*ocupa el alto total de la pantalla*/
{
    min-height: 100vh;  
    display: flex;
    flex-direction: row;    
    background-color: var(--color-bg-body);
}

body, input
{
    color: var(--color-text-primary);
}

button
{
    color: var(--color-btn);
}

h1
{
    color: var(--color-text-accent);
    font-size: var(--font-size-lg);
}

ul
{
    list-style: none;
}

i
{
    line-height: 1.2 !important;    /*alinea verticalmente los iconos al medio*/
}

main
{
    flex: 1;    /* el <main> se adapta automáticamente para rellenar lo que queda entre el header y el footer */    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}